src/main/resources/wsdl/usStates.wsdl

<!-- Copied from soap-webapp wsdl doc -->
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://soapwebapp.com/soap-web-app"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://soapwebapp.com/soap-web-app"
	targetNamespace="http://soapwebapp.com/soap-web-app">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://soapwebapp.com/soap-web-app">
			<!-- Methods: -->
			<xs:element name="getStateRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getStateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="state" type="tns:state" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- Models -->
			<xs:complexType name="state">
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="population" type="xs:int" />
					<xs:element name="capital" type="xs:string" />
					<xs:element name="region" type="tns:region" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="region">
				<xs:restriction base="xs:string">
					<xs:enumeration value="West" />
					<xs:enumeration value="Southwest" />
					<xs:enumeration value="Midwest" />
					<xs:enumeration value="Southeast" />
					<xs:enumeration value="Northeast" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getStateRequest">
		<wsdl:part element="tns:getStateRequest"
			name="getStateRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getStateResponse">
		<wsdl:part element="tns:getStateResponse"
			name="getStateResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="StateServicePort">
		<wsdl:operation name="getState">
			<wsdl:input message="tns:getStateRequest"
				name="getStateRequest">
			</wsdl:input>
			<wsdl:output message="tns:getStateResponse"
				name="getStateResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StateServicePortSoap11"
		type="tns:StateServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getState">
			<soap:operation soapAction="" />
			<wsdl:input name="getStateRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getStateResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StateServicePortService">
		<wsdl:port binding="tns:StateServicePortSoap11"
			name="StateServicePortSoap11">
			<soap:address location="http://localhost:8888/soapWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>